#container{
	padding-top: 100px;
	margin: auto;
	width: 40%;
	background-color: rgb(162, 255, 201);
	border-radius: 40%;
	border: 5px dashed blue;
}

.form{
	
	font-size:18px;
}

.form input{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size:18px;
}

#errordisplay{
	/*margin-top: -20px;*/
	font-size:12px;
	color: #EE0019;
}

input{
	border-radius: 7px;
}

#logo2{
    width: 50%;
    height: 50%;
}

.centerPage {
    text-align: center;
}

body{
	background-color: rgb(236, 195, 229);
}


